{% extends "base.html.twig" %}

{% block title %}

    Page des paris

{% endblock %}

{% block body %}

    <a href="{{ path('app_pari_new') }}" >Créer un pari:</a>

    <br /><br />
    Listing des paris :
    <br />
    <ul>

        {% for pari in paris %}
            <li>
                <p>{{ pari.body }}</p>
            </li>

        {% endfor %}
    </ul>



{% endblock %}