{% extends "base.html.twig" %}

{% block title %}

    Accueil

{% endblock %}

{% block body %}

    <a href="{{ path("app_pari_index") }}" >Aller sur la page des paris </a>

    Ceci est l'accueil

{% endblock %}