app_accueil_index:
  path: /
  controller: App\Controller\MatchController::indexAction

app_pari_index:
  path: /paris
  controller: App\Controller\PariController::indexAction

app_pari_new:
  path: /paris/new/{equipe1}/{equipe2}
  controller: App\Controller\PariController::newAction
    requirements:
      equipe1: '\d+'
      equipe2: '\d+'


app_pari_edit:
    path:       /paris/modif/{idpari}
    controller: App\Controller\PariController::ModifAction
    requirements:
      idpari: '\d+'

app_team_index:
  path: /teams
  controller: App\Controller\TeamController::indexAction

app_team_new:
  path: /teams/new
  controller: App\Controller\TeamController::newAction

app_user_index:
  path: /user
  controller: App\Controller\UserController::indexAction

user_registration:
  path: /register
  controller: App\Controller\RegistrationController::registerAction
