#index:
#    path: /
#    controller: App\Controller\DefaultController::index

app_accueil_index:
  path: /
  controller: App\Controller\MatchsController::index

app_pari_index:
  path: /pari
  controller: App\Controller\PariController::indexAction

app_pari_new:
  path: /pari/new/{equipe1}/{equipe2}
  controller: App\Controller\PariController::newAction

app_posts_index :
    path : /livescore
    controller : App\Controller\MatchsController::index

app_posts_views :
    path : /livescore/team/{id}
    controller : App\Controller\PostsController::viewPost
    requirements:
            id: \d+

#app_user_index:
 # path: /users
  #controller: App\Controller\UserController::indexAction

#pp_user_new:
 # path: /users/new
  #controller: App\Controller\UserController::newAction