#index:
#    path: /
#    controller: App\Controller\DefaultController::index

app_accueil_index:
  path: /
  controller: App\Controller\AccueilController::indexAction

app_pari_index:
  path: /pari
  controller: App\Controller\PariController::indexAction

app_pari_new:
  path: /pari/new
  controller: App\Controller\PariController::newAction

app_posts_index :
    path : /livescore
    controller : App\Controller\MatchsController::index

app_posts_views :
    path : /livescore/team/{id}
    controller : App\Controller\PostsController::viewPost
    requirements:
            id: \d+