{% extends 'base.html.twig' %}

{% block title %} Team  {{ team }} {% endblock %}
{% block body %}
    <div>Team  {{ team }}</div>
    <div class="container">
        <ul class="list-group">
            {% for users in user %}
                <li class="list-group-item" >
                    <a href="#"> {{ user.username }} </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}