<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}

        {% endblock %}
    </head>
    {{ include('common/header.html.twig') }}
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {{ include('common/footer.html.twig') }}
    </body>

</html>
