{% extends 'base.html.twig' %}

{% block title %} Football Livescore {% endblock %}
{% block body %}
    <div>Football Livescore </div>
    <div class="container">
        <ul class="list-group">
            {% for results in score %}
                <li class="list-group-item" >

                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}